/* I have used CSS with tailwindCSS because it's easier to apply styling conditionally with JS */

.box {
  border-radius: 0.375rem /* 6px */;
  padding: 0.6rem;
  width: 100%;

  /* shadow */
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.app-main > .column {
  background-color: rgb(253 224 71);
  min-width: 18rem;
  min-height: 5rem;
  border-radius: 0.375rem /* 6px */;
  padding: 1rem;

  --tw-drop-shadow: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);

  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.app-main > .column-droppable {
  background-color: rgb(243, 243, 115);
}

.app-main > .column > h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.app-main > .column > span {
  display: block;
  background-color: rgb(233, 233, 233);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

input:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px rgba(0, 255, 0, 0.5);
}

.add-card-input {
  min-width: 18rem;
}
/*
 .S_Underline {
	@apply after:absolute after:-bottom-[1px] after:left-0 after:h-[2px] after:w-0 after:bg-slate-800 after:transition-all after:duration-500 after:content-[''];
} */
